
<% @post.comments.each do |comment| %>
  <p>
    <strong><%= comment.user.username if comment.user %></strong>
    <%= comment.content %>
  </p>
<% end %>
<%= form_with(model: @comment, url: post_comments_path(@post)) do |form| %>
  <%= form.text_field :content %>
  <%= form.submit "Post Comment" %>
<% end %>